<table class="table table-bordered">
    <tr>
        <th> NOME MEDICAMENTO </th>
        <th> PREÇO </th>
        <th> SUBSTANCIA </th>
        <th> CNPJ </th>
        <th> RAZAO SOCIAL </th>
    </tr>
    <% @medicines.each do |m| %>
        <tr>
            <td> <%=m.nomeMedicamento %> </td>
            <td> <%=m.preco %> </td>
            <td> <%=m.nomeSubstancia %> </td>
            <td> <%= m.cnpj %> </td>
            <td> <%=m.razaoSocial %> </td>
        </tr>
    <% end %>
</table>