<%= dialog_sm do %>
  <div class="card shadow">
    <div class="card-body">
      <h4 class="mb-3"> Nova unidade </h4>
        <%= bootstrap_form_for @local_storage, html: {class: "nifty_form"} do |f| %>
          <%= f.text_field :name %>
          <%= f.text_field :city %>
          <%= f.submit "Create" %>
        <% end %>
        <hr/>
    </div>
  </div>
<% end %>