<%= dialog_body do %>
    <div class="row">
        <div class="mb-5">
            <h3> <%=@storage.name %> </h3>
        </div>
    </div>
    <table class="table table-centered">
        <tr>
            <td> <strong> Nome </strong> </td>
            <td> <%= @storage.name %> </td>
        </tr>
        <tr>
            <td> <strong>Cidade </strong> </td>
            <td> <%= @storage.city %> </td>
        </tr>
        <tr>
            <td> <strong>Codigo Municipal </strong> </td>
            <td> <%= @storage.cod_munic %> </td>
        </tr>
        <tr>
            <td> <strong>Cod cnes </strong> </td>
            <td> <%= @storage.cod_cnes %> </td>
        </tr>
        <tr>
            <td> <strong>Endereço </strong> </td>
            <td> <%= @storage.dsc_endereco %> </td>
        </tr>
        <tr>
            <td> <strong>Bairro </strong> </td>
            <td> <%= @storage.dsc_bairro %> </td>
        </tr>
        <tr>
            <td> <strong>Telefone </strong> </td>
            <td> <%= @storage.dsc_telefone %> </td>
        </tr>
        <tr>
            <td> <strong>dsc_estrut_fisic_ambiencia </strong> </td>
            <td> <%= @storage.dsc_estrut_fisic_ambiencia %> </td>
        </tr>
        <tr>
            <td> <strong>dsc_adap_defic_fisic_idosos </strong> </td>
            <td> <%= @storage.dsc_adap_defic_fisic_idosos %> </td>
        </tr>
        <tr>
            <td> <strong>dsc_equipamentos </strong> </td>
            <td> <%= @storage.dsc_equipamentos %> </td>
        </tr>
        <tr>
            <td> <strong>dsc_medicamentos</strong> </td>
            <td> <%= @storage.dsc_medicamentos %> </td>
        </tr>
        <tr>
            <td> <strong>latitude</strong> </td>
            <td> <%= @storage.vlr_latitude %> </td>
        </tr>
        <tr>
            <td> <strong>longitude</strong> </td>
            <td> <%= @storage.vlr_longitude %> </td>
        </tr>
    </table>

<% unless @stocks.nil?%>
    <table class="table table-centered">
        <tr> 
            <th> Nome medicamento </th>
            <th> Quantidade </th>
        </tr>
        <% @stocks.each do |s| %>
            <tr>
                <td> <%= @medicines[s.medicine.to_s] %> </td>
                <td> <%= s.quantidade%> </td>
            </tr>
        <% end %>
    </table>
    <% end %>
<% end %>