<%= dialog_sm do %>
  <div class="card shadow">
    <div class="card-body">
      <%= form_tag("/login", method: "get") do %>
        <%= email_field :email, autofocus: true, autocomplete: "email" %>
        <%= password_field :password, autocomplete: "off" %>
        <%= submit_tag "Login", class: "btn btn-success btn-block" %>
        <%= link_to "Registrar", new_user_path, class: "btn btn-link"%>
      <% end %>
      <hr/>
    </div>
  </div>
<% end %>