<%= dialog_body do %>
  <h3 class="mb-5"> Checkouts de medicamentos </h3>
    <table class="table table-bordered">
      <tr>
          <th> Data de retirada </th>
          <th> Medicamento Key </th>       
          <th> UBS Key </th>
          <th> Quantidade Recebida </th>
      </tr>
      <% @shipments.each do |u| %>
        <tr>
            <td><%= u.created_at %></td>
            <td><%= u.medicine %></td>
            <td><%= u.local_storage %></td>
            <td><%= u.quantidadeRecebida %></td>
        </tr>
      <% end %>
    </table>
<% end %>

